<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>v-sns</title>
  <link rel="shortcut icon" href="./common/img/v-sns-favicon.png">
  <link rel="stylesheet" href="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css">
  <link rel="stylesheet" href="./common/css/main.css">
  <link rel="stylesheet" href="./common/css/bootstrap.min.css">
  <link rel="stylesheet" href="./common/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="./common/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="./common/css/chat.css">
</head>
<body>
  <div id="app">
    <header-component></header-component>
    <router-view v-bind:loginstate="loginState" v-bind:roomlist="chatRoomList" v-bind:userinfo="userInfo" ></router-view>
    <modal-component></modal-component>
    <br>
    <br>
    <alert-component></alert-component>
    <login-component 
      v-on:setlogin="setLoginState"
      v-on:setuserinfo="setUserInfo"
      v-on:getroomlist="getRoomList"
       v-bind:loginstate="loginState"></login-component>
  </div>
<script src="./common/build/build.js"></script>
<script>
  build().importArr.forEach((data)=>{
    document.write(data);
  })
  //header footer load
  // window.onload = function(){
  //   $('#header').load('./common/html/header.html');
  // }
</script>
</body>
</html>