<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>v-sns</title>
  <link rel="shortcut icon" href="./common/img/v-sns-favicon.png">
  <link rel="stylesheet" href="<%= CDN %>/vendor/vendor.css">
  <link rel="stylesheet" href="<%= CDN %>/css/<%= style %>">
</head>
<body>
  <div id="app">
    <header-component></header-component>
    <alert-component></alert-component>
    <router-view v-bind:loginstate="loginState" v-bind:roomlist="chatRoomList" v-bind:userinfo="userInfo" ></router-view>
    <modal-component></modal-component>
    <br>
    <br>
    <login-component 
      v-on:setlogin="setLoginState"
      v-on:setuserinfo="setUserInfo"
      v-on:getroomlist="getRoomList"
       v-bind:loginstate="loginState"></login-component>
  </div>
  <script src="<%= CDN %>/js/<%= common %>"></script>
  <script src="<%= CDN %>/vendor/vendor.js"></script>
  <script src="<%= CDN %>/js/<%= component %>"></script>
  <script src="<%= CDN %>/js/<%= routes %>"></script>
  <script src="<%= CDN %>/js/<%= init %>"></script>

</body>
</html>